# Encryption settings
encryption = "age"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
    recipient = "age12fqygewqcg6rt7dfnh0zu7fyts9wykwhd67dnlzwm2u5r7q9a4yswkmrut"

# Auto commit & push configurations
[git]
    autoCommit = true
    autoPush = false
    commitMessageTemplateFile = ".commit_message.tmpl"

[hooks.read-source-state.pre]
    command = "{{ .chezmoi.sourceDir }}/.install-password-manager.sh"

# Configuration for chezmoi
sourceDir = "{{ .chezmoi.homeDir }}/.local/share/chezmoi"

[diff]
    command = "nvim"
    args = ["-d", "{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}"]

[merge]
    command = "nvim"
    args = ["-d", "{{ `{{ .Destination }}` }}", "{{ `{{ .Source }}` }}", "{{ `{{ .Target }}` }}"]

[data]
    name = "Anak Agung Bagus Kresna Laksana"
    email = "agungkresnalaksana@gmail.com"
    github_username = "laksana-kresna-dev"
