{{- $hasDiff := false -}}
{{- $files := list -}}

{{- if hasKey .chezmoi "git" -}}
  {{- if .chezmoi.git.diff -}}
    {{- $hasDiff = true -}}
    {{- $files = .chezmoi.git.diff -}}
  {{- end -}}
{{- end -}}

Conventional Commit Examples:
  feat:     feat(zsh): add zoxide integration
  fix:      fix(nvim): resolve lsp keymap conflict
  refactor: refactor(tmux): split config into modules
  docs:     docs(readme): add arch installation guide
  style:    style(i3): change border color scheme
  chore:    chore(chezmoi): update .chezmoiignore rules
----------------------------------------------------------------------

{{ promptString "Enter commit message: " }}

{{ if $hasDiff -}}
Updated files:
{{ range $files -}}
- {{ . }}
{{ end }}
Author: {{ .chezmoi.username }}@{{ .chezmoi.hostname }}
{{- else -}}
Author: {{ .chezmoi.username }}@{{ .chezmoi.hostname }}
{{- end -}}
